@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*regular,medium,bold https://fonts.google.com/specimen/Poppins */

:root {
  /* Farben */
  --plainly_dark_blue: #020C42;
  --plainly_blue: #001CB6;
  --plainly_white: #FFFFFF;
  --plainly_baby_blue: #D8E3FF;

  --transparent_white: #ffffff85;
  --accentcolor: #ec8887;
}

* {
  margin: 0px;
  padding: 0px;
  /*font-family: "Avenir Next", "Avenir", sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

html {
  background: var(--plainly_baby_blue);
  /*allgemeine Hintergrundfarbe*/
}

body {
  color: var(--plainly_dark_blue);
  /*Schriftfarbe im body*/
}

.logo {
  position: fixed;
  background-color: transparent;
  color: var(--plainly_white);
  /*Schriftfarbe logo*/
}

.logo a {
  color: var(--plainly_white);
  /*Schriftfarbe logo*/
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  /*24px*/
}

.logo a:hover {
  color: var(--plainly_white);
}

@media (max-width:750px) {
  /* Toggle menu für Handys*/

  header {
    padding-bottom: 60px;
    /*leerer Platz zum text*/
  }

  nav {
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 100%;
    top: 0px;
    background-color: var(--plainly_dark_blue);
    /*hintergrund navbar wenn toggle menu zu*/
    padding-bottom: 45px;
    position: fixed;
  }

  .logo {
    margin: 0px;
    padding: 0px;
    text-align: center;
    left: 50%;
    top: 35px;
    transform: translate(-50%, -50%);
  }

  .logo a {
    font-size: 36px;
  }

  #menuToggle {
    display: block;
    position: fixed;
    top: 25px;
    /*Position hamburger menu*/
    left: 25px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    background-color: transparent;
  }

  #menuToggle a {
    text-decoration: none;
    color: var(--plainly_white);
    /*Schriftfarbe im Toggle menu*/
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: var(--accentcolor);
    /*Schriftfarbe im Toggle menu hover*/
  }


  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--plainly_white);
    /*Hamburger menu geschlossen Farbe der drei Striche*/
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--plainly_white);
    /*Hamburger menu offen Farbe des kreuzes*/
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 100vw;
    /*Breite, im Original 300px*/
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    height: 100vh;
    /*höhe box/Hintergrund toggle menu, im Original 1000px*/

    background: var(--plainly_blue);
    /*Background toggle menu viereck*/
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
    background-color: transparent;
    /*durchsichtig*/
  }

  #menuToggle input:checked~ul {
    transform: none;
  }

}

@media (min-width:750px) {
  /*Menu for computers*/

  /*input,*/
  span {
    display: none;
  }

  header {
    padding-bottom: 10px;
    /*leerer Platz zum text*/
  }

  .logo {
    z-index: 3;
    margin: 0px;
    padding: 5px;
    padding-left: 70px;
    width: auto;
    text-align: left;
    top: 0px;
    left: 0px;
  }

  #menu {
    text-align: right;
    margin: 0px;
    padding: 10px;
    /*beeinflusst höhe navbar*/
    padding-right: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    background-color: var(--plainly_dark_blue);
    /*Hintergrundfarbe Navigation*/
  }

  #menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  #menu li {
    display: inline;
    /*macht list items nebeneinander*/
    background-color: transparent;
    /*durchsichtig*/
  }

  #menu a {
    color: var(--plainly_white);
    /*Textfarbe in nav*/
    text-decoration: none;
    padding: 8px;
    margin: 4px;
    background-color: transparent;
    /*durchsichtig*/
  }

  #menu a:hover {
    color: var(--accentcolor);
  }
}

main {
  margin-top: 10px;
}

main a {
  color: var(--plainly_blue);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--accentcolor);
}

.content {
  padding: 10px;
  margin: 0px;
}

section {
  padding: 10px;
}

.container {
  display: flex;
  /*padding: 10px;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.item {
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

.center {
  margin: 0 auto;
}

.colorinvert {
  padding: 10px;
  background-color: var(--plainly_dark_blue);
  color: var(--plainly_white);
}

.colordifferent {
  background-color: var(--transparent_white);
}

.dynamicimg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 200px;
}

/* Start Contact Form */

.contact-form {
  max-width: 400px;
  /*margin: 0 auto;*/
  background: var(--transparent_white);
  padding: 25px;
  margin: 0px;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.contact-form fieldset {
  border: medium none;
  margin: 0px 0 10px;
  /*Abstand Eingabefelder nach unten*/
  width: 100%;
  padding: 0px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  /*Border Textfelder ohne hover*/
  background: var(--plainly_white);
  /*margin: 0 0 5px;*/
  /*Abstand Eingabefelder nach unten*/
  padding: 10px;
}

.contact-form input:hover,
.contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
  /*Border Textfelder hover*/
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
  /*Border Textfelder wenn ins Feld geklickt*/
}

.contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact-form button[type="submit"],
.button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--plainly_blue);
  /*Button bg*/
  color: var(--plainly_white);
  /*Button Textfarbe*/
  margin: 0px;
  /*margin: 0 0 5px;*/
  padding: 10px;
  font-size: 15px;
}

.contact-form button[type="submit"]:hover,
.button:hover {
  background: var(--accentcolor);
  /*Button bg hover*/
  -webkit-transition: backgroundcolor 0.3s ease-in-out;
  -moz-transition: backgroundcolor 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button[type="submit"]:active,
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  /*Schatten während des klickens*/
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #888;
}

/* End Contact Form */

.button:hover {
  color: var(--plainly_white);
}

footer {
  background-color: var(--plainly_dark_blue);
  padding: 5px;
}

footer li {
  display: inline;
  padding: 5px;
}

footer a {
  color: var(--plainly_white);
}

footer a:hover {
  color: var(--accentcolor);
}

.troubleshooting {
  border: solid 1px red;
}