@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
  --trennliniepx: 3px;

  --navlogo: rgb(253, 248, 241); /*Hellbeige*/

  /*nav Vollbild*/
  --navbg: rgb(90, 78, 71); /*Braun*/
  --navlinkbg: white;
  --navlinkhoverbg: antiquewhite;

  /*nav kleine Seite*/
  --navmobiletext: rgb(90, 78, 71); /*Braun*/
  --navmobilehover: black;
  --navmobilebg: rgb(253, 248, 241); /*Hellbeige*/
  --hamburger3: white;
  --hamburgerX: black;

  /*Angaben Website*/
  --textcolor: black;
  --background: antiquewhite;
  --trennlinie: rgb(253, 248, 241); /*Hellbeige*/

  --textcolor: black;
  --background: rgb(253, 248, 241); /*Hellbeige*/
  --trennlinie: white;
}

@media (prefers-color-scheme: dark) { /*Darkmode*/
  :root {
    /* #161E33 dunkelblau - #162B47 blau - #5E778A helltürkis - #2E546B türkis */

    --navlogo: #5E778A; /*helltürkis*/
    /*nav Vollbild*/
    --navbg: #2E546B; /*türkis*/
    --navlinkbg: #161E33; /*dunkelblau*/
    --navlinkhoverbg: #162B47; /*blau*/
    /*nav kleine Seite*/
    --navmobiletext: #5E778A; /*helltürkis*/
    --navmobilehover: white;
    --navmobilebg: #161E33; /*dunkelblau*/
    --hamburger3: #5E778A; /*helltürkis*/
    --hamburgerX: white;
    /*Angaben Website*/
    --textcolor: white;
    --background: #162B47; /*blau*/
    --trennlinie: #5E778A; /*helltürkis*/
  
  }
}

body
{
   margin: 0;
   padding: 0;
   
   background: var(--background);
   color: var(--textcolor);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

nav {
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

section {
  border-bottom-style: solid;
  border-bottom-width: calc(var(--trennliniepx) * 2);
  border-bottom-color: var(--trennlinie);
}

h2, p {
  margin: auto;
  padding: 10px;
  max-width: 800px;
}

h2 {
  padding-bottom: 0px;
}

.nav-background {
  height: 66px;
  width: 100%;
  top: 0px;
}

.nav-background-fixed {
  height: 60px;
  width: 100%;
  background-color: var(--navbg);
  position: fixed;
  top: 0px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: calc(var(--trennliniepx) * 2);
  border-color: var(--trennlinie);
}

.logo {
  z-index: 1;
  position: fixed;
  font-family: 'Dancing Script', 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 30px;
  width: 100%;
  height: 66px;
  top: 17px;
  color: var(--navlogo);
  text-align: center;
}

/*später 380px und Lösung für Logo finden*/

@media (min-width:750px) {
  input, span{
    display: none;
  }

  .logo {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    left: 70px;
  }

  #menu {
    text-align: right;
    margin: 0px;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 50px;
    z-index: 2;
  }

  #menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  #menu li {
    display: inline; /*macht list items nebeneinander*/
  }

  #menu a {
    color: var(--textcolor);
    text-decoration: none;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    background-color: var(--navlinkbg);
  }

  #menu a:hover {
    background-color: var(--navlinkhoverbg);
    /*font-weight: bold;
    font-style: italic;*/
  }
}

@media (max-width:750px) {
  
  #menu_2 {
      display: none;
  }
  
  /* https://codepen.io/erikterwan/pen/EVzeRP */
  /* https://freefrontend.com/css-toggle-menus/ */

  #menuToggle
  {
    display: block;
    position: fixed;
    top: 20px;
    left: 30px;

    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a
  {
    text-decoration: none;
    color: var(--navmobiletext); /*nav schriftfarbe*/

    transition: color 0.3s ease;
  }
  #menuToggle a:hover
  {
    color: var(--navmobilehover); /*nav schriftfarbe hover*/
  }
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 3;

    -webkit-touch-callout: none;
  }
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--hamburger3); /* hamburger menu 3 Striche */
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--hamburgerX); /* hamburger X */
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: var(--navmobilebg); /* nav bg */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
}

